body {
  background-color: black;
}

.fundo-menu {
  position: absolute;
  width: 100%;
  height: 65%;
  left: 0px;
  top: 8%;
}

.img-fundo-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
}

.Titulo-menu {
  position: absolute;
  font-size: 65px;
  height: 18%;
  width: 22%;
  text-align: center;
  top: 10%;
  left: 39%;
  color: #ffffff;
  font-family: BebasNeue;
  background-color: black;
  border-radius: 6px;
  border: 2px white solid;
}

.Menu-Especialidades-title {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 42%;
  left: 0%;
  text-align: center;
}

.title-Especilidades {
  margin-top: 3%;
  font-family: BebasNeue;
  font-size: 45px;
  color: white;
  margin-left: 1px;
}


.Navegacao {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 15%;
  top: 72%;
  text-align: center;
}

.Bnt-Navegacao-Carne {
  position: absolute;
  width: 14%;
  height: 60%;
  left: 1%;
  top: 5%;
  font-size: 30px;
  background-image: url('/src/Menu/Nav/b.jpg');
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1%;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-family: BebasNeue;
}

.Bnt-Navegacao-Carne:hover {
  color: #660505;
  border: 2px solid #660505;
  transition: 1.0s;
  width: 14%;
  height: 60%;
  left: 1%;
  top: 5%;
}

.Bnt-Navegacao-Aperitivos {
  position: absolute;
  width: 13%;
  height: 60%;
  left: 18%;
  top: 5%;
  font-size: 30px;
  color: white;
  background-image: url('/src/Menu/Nav/a.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1%;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-family: BebasNeue;
}
.Bnt-Navegacao-Aperitivos:hover {
  color: #660505;
  border: 2px solid #660505;
  transition: 1.0s;
}

.Bnt-Navegacao-Acompanhamentos {
  position: absolute;
  width: 14%;
  height: 60%;
  left: 34%;
  top: 5%;
  font-size: 20px;
  color: white;
  background-image: url('/src/Menu/Nav/c.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1%;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-family: BebasNeue;
}

.Bnt-Navegacao-Acompanhamentos:hover {
  color: #660505;
  border: 2px solid #660505;
  transition: 1.0s;
}

.Bnt-Navegacao-Saladas {
  position: absolute;
  width: 13%;
  height: 60%;
  left: 51%;
  top: 5%;
  font-size: 30px;
  color: white;
  background-image: url('/src/Menu/Nav/d.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1%;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-family: BebasNeue;
}

.Bnt-Navegacao-Saladas:hover {
  color: #660505;
  border: 2px solid #660505;
  transition: 1.0s;
}

.Bnt-Navegacao-Sobremesa {
  position: absolute;
  width: 13%;
  height: 60%;
  left: 67%;
  top: 5%;
  font-size: 30px;
  color: white;
  background-image: url('/src/Menu/Nav/e.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1%;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-family: BebasNeue;
}

.Bnt-Navegacao-Sobremesa:hover {
  color: #660505;
  border: 2px solid #660505;
  transition: 1.0s;

}

.Bnt-Navegacao-Bebidas {
  position: absolute;
  width: 13%;
  height: 60%;
  left: 83%;
  top: 5%;
  font-size: 30px;
  color: white;
  background-image: url('/src/Menu/Nav/f.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1%;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  font-family: BebasNeue;
}

.Bnt-Navegacao-Bebidas:hover {
  color: #660505;
  border: 2px solid #660505;
  transition: 1.0s;

}

/************ Card ************/
.cardapio-tamanho {
  position: absolute;
  width: 90%;
  height: 150%;
  display: flex;
  flex-wrap: wrap;
  left: 6%;
  top: 90%;
  font-family: BebasNeue;
}

.card {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin: 35px;
  width: 205px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
}